
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.title {
  font-family: 'Special Elite', monospace;
  font-size: 2rem;
  color: var(--font-color);
  margin: 0;
  text-align: left;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  animation: typing 4s steps(30,end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0% }
  to { width: 20% }
}

.undertitle{
  font-family: 'Special Elite', monospace;
  font-size: 1.6rem;
  color: var(--font-color);
  margin-left: 0;
  text-align: left;
  align-self: flex-start;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  animation: typing 4s steps(30,end), blink-caret 0.75s step-end infinite;
}

.illustration {
  width: 600px;
  height: auto;
  margin-bottom: 0;
  position: relative;
}

@media (max-width: 950px) {
  .undertitle{
    margin-top:6rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }
  .undertitle{
    margin-top: 4rem;
    font-size: 1.25rem;
  }

  .illustration {
    width: 80%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .undertitle{
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .illustration {
    width: 90%;
  }

  .navbar {
    margin-bottom: 0.5rem;
  }
}
