.CV {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  padding-top: 0;
  position: relative;
}

.title {
  font-size: 2rem;
  color: var(--font-color);
  margin: 2rem;
  text-align: left;
  align-self: flex-start;
}
